/*
Theme Name: SajiloBook
Description: Child theme for the Storefront theme.
Author: Anup Bista
Author URI: http://www.anupbista.com
Template: storefront
Version: 1.0
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Text Domain: storefront-child, sajilobook, woocommerce, book, commerce
*/

/*
COLOR CODE
#df3633 RED
#007366 GREEN
#079e8d LIGHT GREEN
#008895 BLUE
*/

/*body*/
body{
    background-color: #e4e5e6;
    font-family: 'Roboto', sans-serif;
}
.clearfix:after{
    clear: both;
    content: '';
    display: block;
}
a{
    color: #df3633; 
}
a:focus{
    outline: none;
}
.card{
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    padding: 1em;
}
.text-center{
    text-align: center;
}
table th, table td{
    text-align: center;
}
.none{
    display: none;
}
.entry-title,
.woocommerce-products-header__title.page-title{
    border-bottom: 2px solid #008895;
    display: inline-block;
    padding-bottom: 0.3em;
    padding-right: 1em;
    font-size: 2.3em;
}
.input-text, input[type=email], input[type=password], input[type=search], input[type=text], input[type=url], textarea{
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #CCC;
    color: #555;
    height: 50px;
    padding: 10px;
    position: relative;
}
input:focus, textarea:focus{
    border-bottom: 2px solid #079e8d;
    outline: none;
    background: transparent;
}
.input-text:focus, input[type=email]:focus, input[type=password]:focus, input[type=search]:focus, input[type=text]:focus, input[type=url]:focus, textarea:focus{
    background-color: transparent;
    transition: border linear 0.2s, box-shadow linear 0.2s;
}
/*Buttton Standard*/
button.alt, input[type="button"].alt, input[type="reset"].alt, input[type="submit"].alt, .button.alt, .added_to_cart.alt, .widget-area .widget a.button.alt, .added_to_cart, .widget a.button.checkout{
    background:#079e8d;
    color: #fff;
    border-radius: 3px;
}
button.alt:hover, input[type="button"].alt:hover, input[type="reset"].alt:hover, input[type="submit"].alt:hover, .button.alt:hover, .added_to_cart.alt:hover, .widget-area .widget a.button.alt:hover, .added_to_cart:hover, .widget a.button.checkout:hover{
    background:#007366;
    color: #fff;
}

/*SajiloBook Layout*/
.col-full{
    padding-left: 20px;
    padding-right: 20px;
}
@media (min-width: 768px){
.single.left-sidebar .content-area{
    width: 100%;
}
.home.left-sidebar .content-area {
    width: 73.9130434783%;
    float: right;
    margin-right: 0;
    padding: 0;
}
.content-area, .widget-area {
    margin-bottom: 2.617924em;
}
.woocommerce-active .site-header .col-full{
    background: #e4e5e6;
}
.site-content .col-full{
    padding-top: 20px;
    padding-bottom: 20px;
    position: relative;
    -webkit-box-shadow: 0px 7px 17px 4px rgba(204,204,204,1);
    -moz-box-shadow: 0px 7px 17px 4px rgba(204,204,204,1);  
    box-shadow: 0px 7px 17px 4px rgba(204,204,204,1);

}
}
.col-full{
    background: #fff;
}

/*Breadcrumb*/
.woocommerce-breadcrumb{
    margin-bottom: 1.235801032em;
}
.woocommerce-breadcrumb a:first-child{
    font-size: 18px;
}
.woocommerce-breadcrumb .breadcrumb-separator:after{
    top: 45%;
    opacity: 1.25;
}

/*Sections*/
.section-title .fa{
    color: #008895;
    margin-right: 0.7em;
}

/*Left Sidebar Categories*/
.widget .widget-title, .widget .widgettitle{
    padding: 0;
    color: #fff;
    text-align: center;
    font-weight: 400;
    text-transform: uppercase;
    background: #48a49a;
}
.left-sidebar .widget-area{
    box-shadow: 0 5px 12px rgba(0,0,0,0.16), 0 5px 15px rgba(0,0,0,0.23);
    padding: 20px;
}
.widget_product_categories ul li:before{
    content: "\f02d";
    color: #df3633;
    opacity: 0.5;
}
.widget-area .widget a:not(.button){
    text-decoration: none;
    color: #736c6c;
}
.widget-area .widget > ul > li > a:not(.button){
    font-weight: 400;
}
.widget-area .widget a:not(.button):hover,
.widget-area .widget li.current-cat > a:not(.button){
    color: #079e8d;
}
.widget_product_categories ul li.current-cat:before{
    content: "\f02d";    
}
.widget_product_categories > ul > li{
    border-bottom: 1px dotted #838383;
    padding-bottom: 6px;
}
.widget_product_categories > ul > li:last-child{
    border-bottom: none;
    padding-bottom: 0;
}

/*Book Card*/
.page-template-template-fullwidth-php .site-main .columns-4 ul.products li.product, .page-template-template-homepage-php .site-main .columns-4 ul.products li.product, .storefront-full-width-content .site-main .columns-4 ul.products li.product{
    box-shadow: 0 1px 4px rgba(0,0,0,0.16), 0 1px 4px rgba(0,0,0,0.23);    
}
ins.sajilobook_loop_publisher{
    font-size: 1em ;
    display: block;
    font-weight: 400 ;
    margin: 0 ;
    color: #333333
}
ul.products li.product {
    padding: 10px;
    transition: .3s;
}
ul.products li.product:hover {
    background: #008895;
    color: #fff;
    box-shadow: 0 7px 20px rgba(0,0,0,0.16), 0 7px 20px rgba(0,0,0,0.23);
}
ul.products li.product:hover h2,
ul.products li.product:hover span.price ,
ul.products li.product:hover ins.sajilobook_loop_publisher {
    color: #fff;
}
ul.products li.product .button{
    background:#079e8d;
    color: #fff; 
}
ul.products li.product:hover .button {
    background: #fff;
    color: #079e8d;
}
.onsale{
    position: absolute;
    left: 15px;
    top: 15px;
    border-color: #df3633;
    color: #df3633;
    border-radius: 0;
    z-index: 999;
}


/*site-header*/
.site-header{
    padding-top: 0px;
    background: #e4e5e6;    
}

/*Single Product Page*/
.single-product div.product .woocommerce-product-gallery{
    margin-bottom: 0;
}
.single-book-left .book-description ul{
    margin: 0;
}
.single-book-left .book-description ul > li{
    list-style: none;
    border-bottom: 1px solid #838383;
    padding: 0.8em 0.7em;
}
.single-book-left .book-description ul > li label{
    font-weight: 500;
    padding-right: 6px;
}
.star-rating span:before, .quantity .plus, .quantity .minus, p.stars a:hover:after, p.stars a:after, .star-rating span:before, #payment .payment_methods li input[type=radio]:first-child:checked+label:before{
    color: #df3633;
}
.book-extra-description table tr th{
    background: #079e8d;
    color: #fff;
    text-align: center;
}
.book-extra-description table tr td{
    text-align: center;
}
.book-extra-description table tr td.book_type span{
    background: #df3633;
    color: #fff;
    padding: 0.3em 0.4em;
    border-radius: 5px;
}
table th{
    font-weight: 500;
}
.single_add_to_cart_button{
    float: right;
}

/*Single Product Tabs*/
.woocommerce-tabs ul.tabs li{
    border-bottom: none;
}
.woocommerce-tabs ul.tabs li a{
    padding: 1em;
    background: #53bdb1;
    color: #fff;    
}
.woocommerce-tabs ul.tabs li.active a{
    background: #079e8d;
    color: #fff;
}
.woocommerce-tabs ul.tabs li.active:after{
    color: #fff;
    font-size: 1.6em;
    display: none;
}
.woocommerce-tabs ul.tabs li.active a:after{
    content: '';
    position: absolute;
    right: -28px;
    top: 1px;
    border-left: 28px solid #079e8d;
    border-top: 28px solid transparent;
    border-bottom: 28px solid transparent;
}
.tabs.wc-tabs{
    box-shadow: 0 4px 10px rgba(0,0,0,0.16), 0 4px 10px rgba(0,0,0,0.23);
}
.woocommerce-Tabs-panel{
    box-shadow: 0 4px 10px rgba(0,0,0,0.16), 0 4px 10px rgba(0,0,0,0.23);
    padding: 1em;
}
/*Review*/
.woocommerce-Reviews-title{
    border-bottom: 2px solid #008895;
    padding-bottom: 0.3em;
}
.woocommerce .star-rating span:before {
    color: #df3633;
}
.woocommerce p.stars span a:hover:before, .woocommerce p.stars span a:focus:before, .woocommerce p.stars span a.x-active:before {
    color: #df3633;
}

p.stars.selected a.active:before, p.stars:hover a:before, p.stars.selected a:not(.active):before, p.stars.selected a.active:before{
    color: #df3633;
}

button.alt , input[type="button"], input[type="reset"], input[type="submit"], .button, .added_to_cart, .widget a.button, .site-header-cart .widget_shopping_cart a.button{
    background: #079e8d;
    color: #fff;
    border-color: #079e8d;
}
.input-text, input[type=email], input[type=password], input[type=search], input[type=text], input[type=url], textarea{
    box-shadow: none;
}
.submit:hover{
    background: #007366 !important;
    color: #fff !important;
}
textarea{
    resize: vertical;
}

/*Single Product Page Wishlist*/
.single-product div.product form.cart{
    float: left;
    margin-right: 1em;
}
.product-type-grouped form.cart{
    float: none !important;
}
.product-type-yith_bundle form.cart{
    float: none !important;
}
.yith-wcwl-add-to-wishlist{
    float: left;
    padding: 1em 0;
    margin: 0;
    position: relative;
}
.product-type-yith_bundle .yith-wcwl-add-to-wishlist,
.product-type-grouped .yith-wcwl-add-to-wishlist{
    padding: 0;
    margin-top: -86.7px;
    margin-bottom: 20px;
}
.wishlist_table .add_to_cart, a.add_to_wishlist.button.alt{
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -o-border-radius: 3px;
}
.yith-wcwl-wishlistexistsbrowse a,
.yith-wcwl-wishlistaddedbrowse a{
    background: #079e8d;
    color: #fff;
    border-radius: 3px;
    cursor: pointer;
    padding: .6180469716em 1.41575em;
    text-decoration: none;
    font-weight: 600;
    text-shadow: none;
    display: inline-block;
    outline: 0
}
.yith-wcwl-wishlistexistsbrowse .feedback,
.yith-wcwl-wishlistaddedbrowse .feedback{
    position: absolute;
    left: 0;
    background: rgba(0,0,0,.1125);
    color: #6d6d6d;
    border-radius: 3px;
    width: 100%;
    top: -55px;
    text-align: center;
    padding: 0.4em;
}
.yith-wcwl-wishlistaddedbrowse .feedback{
    top: -35px;    
}
.yith-wcwl-wishlistexistsbrowse .feedback:after,
.yith-wcwl-wishlistaddedbrowse .feedback:after{
    position: absolute;
    content: '';
    left: 50%;
    transform: translateX(-50%);
    bottom: -8px;
    border-top: 8px solid rgba(0,0,0,.1125);;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
}
.product-type-grouped .yith-wcwl-wishlistexistsbrowse .feedback,
.product-type-yith_bundle .yith-wcwl-wishlistexistsbrowse .feedback{
    top: -10px;
    left: 108%;
}
.product-type-grouped .yith-wcwl-wishlistexistsbrowse .feedback:after,
.product-type-yith_bundle .yith-wcwl-wishlistexistsbrowse .feedback:after{
    top: 50%;
    left: -8px;
    height: 0;
    width: 0;
    transform: translateY(-50%);
    border-right: 8px solid rgba(0,0,0,.1125);;
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
    border-left: none;
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button {  

   opacity: 1;

}
/*Product Bundle Styles*/
table.yith-wcpb-product-bundled-items{
    border: none;
    padding: 1em;
}
table.yith-wcpb-product-bundled-items tr td{
    border: none;
}
table.yith-wcpb-product-bundled-items td.yith-wcpb-product-bundled-item-image{
    padding: 8px !important;
}
.yith-wcpb-product-bundled-item-data a{
    font-weight: 500;
    font-size: 1.3em;
}
.yith-wcpb-product-bundled-item-instock{
    background: #008895;
    display: inline-block;
    color: #fff;
    padding: 0.2em 0.6em;
}

/*SajiloBooks Message*/
.woocommerce-message{
    position: relative;
}
.woocommerce-message{
    background: #4caf50;
    box-shadow: 0 4px 10px rgba(0,0,0,0.16), 0 4px 10px rgba(0,0,0,0.23);    
}
.woocommerce-error{
    background: #f44336;
    box-shadow: 0 4px 10px rgba(0,0,0,0.16), 0 4px 10px rgba(0,0,0,0.23);    
}
.woocommerce-info{
    background: #03a9f4;
    box-shadow: 0 4px 10px rgba(0,0,0,0.16), 0 4px 10px rgba(0,0,0,0.23);    
}
.sajilobook-success{
    margin-top: 50px;
    position: absolute;
    left: 50%;
    top: 50px;
    transform: translateX(-50%);
    width: 50%;
}
/*.woocommerce-message:after{
    content: '\f00d';
    position: absolute;
    right: 0;
    top: -0.3em;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
}*/
.site-content>.col-full>.woocommerce>.woocommerce-error:first-child, .site-content>.col-full>.woocommerce>.woocommerce-info:first-child, .site-content>.col-full>.woocommerce>.woocommerce-message:first-child{
    margin-top: 1.617924em;
}


/*Wishlist Page*/
.wishlist_table tr td.product-thumbnail, .wishlist_table tr td.product-name, .wishlist_table tr td.wishlist-name, .wishlist_table tr td.wishlist-privacy{
    text-align: center;
}
.woocommerce .wishlist_table td.product-add-to-cart span.dateadded{
    margin-bottom: 1em;
}
.woocommerce table.wishlist_table{
    font-size: 0.9em;
}
.woocommerce table.wishlist_table tbody td{
    padding: 1.6em;
}
.woocommerce table.wishlist_table thead th{
    border: none;
    font-weight: 500;
}
table th{
    background: #079e8d;
    color: #fff;
}
.yith-wcwl-share h4.yith-wcwl-share-title{
    font-size: 1.6em;
}
.woocommerce-wishlist .entry-title:after{
    content: '\f08a';
    font-family: FontAwesome;
    margin-left: 0.5em;
    color: #df3633;
    font-size: 0.9em;
}
.woocommerce .wishlist-title h2{
    font-size: 1.5em;
}
.wishlist_table{
    box-shadow: 0 4px 10px rgba(0,0,0,0.16), 0 4px 10px rgba(0,0,0,0.23);
}
/*My Account Page*/
.woocommerce-MyAccount-navigation ul li a{
    background: #53bdb1;
    color: #fff;  
    padding: .875em;  
}
.woocommerce-MyAccount-navigation ul li.is-active a{
    background: #079e8d;
}
.page-template-template-fullwidth-php .woocommerce-MyAccount-content{
    padding: 1em;
}
table.shop_table_responsive tbody tr td, table.shop_table_responsive tbody tr th{
    text-align: center;
}
.woocommerce-orders-table__cell-order-status{
    border-bottom: 2px solid #df3633;
}
.woocommerce-MyAccount-navigation ul, .woocommerce-MyAccount-content{
    box-shadow: 0 4px 10px rgba(0,0,0,0.16), 0 4px 10px rgba(0,0,0,0.23);
}






/*Shop*/
.woocommerce-products-header__title.page-title{
    text-align: center;
}
.pagination .page-numbers li .page-numbers.current, .woocommerce-pagination .page-numbers li .page-numbers.current{
    background: #079e8d;
    color: #fff;
}
.storefront-sorting select{
    height: 35px;
    padding: 0 0.6em;
}
.woocommerce-result-count{
    padding: 0;
    height: 35px;
    line-height: 35px;
    padding-top: 3px;
}
.bundled-mark,
.grouped-mark{
    position: absolute;
    left: 15px;
    top: 50px;
    /*height: 30px;*/
    line-height: 20px;
    color: #079e8d;
    border: 1px solid #079e8d;
    font-weight: 500;
    padding: 0.2em 0.4em;
}

/*Need Help*/
.need-help-title{
    background: #48a49a;
    color: #fff;
    padding: 0.6em 1em;
}


/*Cart Page*/
.woocommerce-cart-form, .cart_totals{
    box-shadow: 0 4px 10px rgba(0,0,0,0.16), 0 4px 10px rgba(0,0,0,0.23);
    padding: 1em;
}

/*Checkout Page*/
abbr[title]{
    border-bottom: none;
    text-decoration: none;
}
.required{
    border-bottom: none !important;
}
abbr{
    border-bottom: none;    
}



/*Sticky Add to Cart*/
.ssatc-sticky-add-to-cart{
    padding: 1.118em !important;
    box-shadow: 0 4px 10px rgba(0,0,0,0.16), 0 4px 10px rgba(0,0,0,0.23);
}
.ssatc-sticky-add-to-cart .col-full{
    padding-top: 0;
    box-shadow: none;
}


/*Login / Register Page*/
.register-text,
.login-text{
    border-bottom: 2px solid #008895;
    padding-bottom: 0.3em;
    font-size: 1.7em;
}
.modal{
    max-width: 600px;
    transition: 1s;
    padding: 30px;
    padding-top: 50px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -o-border-radius: 4px;
    -ms-border-radius: 4px;
    border-radius: 4px;
}
.modal a.close-modal {
    position: absolute;
    top: 0;
    right: 0;
    display: block;
    width: 30px;
    height: 30px;
    text-indent: -9999px;
    /*background: none;*/
}
.modal a.close-modal:after{
    content: '\f00d';
    position: absolute;
    font-family: FontAwesome;
    right: 0;
    top: 0;
    height: 30px;
    font-size: 2em;
    width: 30px;
    color: #000;
}
.col2-set#customer_login .col-1{
    width: 55% !important;
    margin: auto !important;
    float: none !important;
}
.register-now-btn{
    background: #079e8d;
    color: #fff;
    padding: 0.6em;
}
.woocommerce-edit-address 
/*search*/
.search .woocommerce-products-header{
    display: none;
}
.search .woocommerce-result-count{
    display: none;
}
/*Product Enquiry*/
.woocommerce-Tabs-panel--product_enquirey h2{
    border-bottom: 2px solid #008895;
    padding-bottom: 0.3em;
}

/*Social Login*/
a.ywsl-social{
    margin-right: 10px !important;
}
.ywsl-label, .socials-list{
    text-align: center;
}
.form-row .woocommerce-Button,
.woocomerce-FormRow .woocommerce-Button{
    float: right;
}

/*Footer*/
footer.site-footer{
    background: #fff;
    margin-top: -30px;
    padding-bottom: 0;
}
.site-info{
    padding: 1.617924em 0;
    text-align: center;
}
.textwidget iframe{
    height: 30px;
}
.footer-widgets{
    border-bottom: 1px solid rgba(0,0,0,0.12);
}
/*Contact Page*/
.contact .wpcf7-not-valid-tip{
    background: #df3633;
    padding: 0.3em;
    color: #fff;
}
.contact .wpcf7-form p:last-child{
    clear: both;
}
.contact .wpcf7-form p{
    line-height: 15px;
}
.contact .wpcf7-submit{
    float: right;
}
.contact .wpcf7-form input{
    width: 100%;
}
.contact .wpcf7-form input[type="submit"]{
    width: auto;
}
.contact .wpcf7-form ins{
    color: #df3633;
}

/*Messenger*/
.drag-wrapper .thing .circle img {
    max-width: 100%;
    height: auto;
    width: 70%;
    margin-top: 15%;
    margin-left: 12%;
}

/*Remove header from cat and tag page*/
.tax-product_tag .woocommerce-products-header,
.tax-product_cat .woocommerce-products-header{
    display: none;
}


/*Shop Button*/
.shop-link-btn{
    text-align: center;
    text-transform: uppercase;
    background: #48a49a;
    border: 1px solid #48a49a
}
.shop-link-btn a{
    font-weight: 500;
    color: #fff;
    display: block;
    padding: 0.5em 0;
}
.shop-link-btn a:hover{
    background: #fff;
    color: #48a49a; 
}

/*Site Logo and Menu Toggle*/
.site-header .custom-logo-link img, .site-header .site-logo-anchor img, .site-header .site-logo-link img{
    max-width: 70px;
}
button.menu-toggle{
    margin-top: 10px;
}


/*Need Help Tab*/
ul.tabs.need-help-tabs{
    margin: 0px;
    padding: 0px;
    list-style: none;
}
ul.tabs.need-help-tabs li{
    background: none;
    color: #222;
    display: inline-block;
    padding: 10px 15px;
    cursor: pointer;
}

ul.tabs.need-help-tabs li.current{
    background: #ededed;
    color: #222;
}

.tab-content{
    display: none;
    background: #ededed;
    padding: 15px;
}

.tab-content.current{
    display: inherit;
}




/*Discussion Comment*/




/*==========================Greater than 769px=============================*/
/*=========================================================================*/
/*==========================Greater than 769px=============================*/

@media (min-width: 768px){

/*Site Branding*/
.site-header .site-branding{
    width: 12%;
    text-align: center;
    margin-right: 0;
    text-align: center;
}
.site-header .site-branding img{
    display: inline-block;
    height: 65px;
    width: 68px;
}
.site-header .site-branding .custom-logo-link{
    width: 100%;
    height: 65px;
    float: none;
}

/*primary navigation*/
.col-full-cancel{
    margin: 0;
    padding: 0;
    max-width: 100%;
}
.storefront-primary-navigation{
    background: #df3633;
    box-shadow: 0px 2px 10px 2px #CCCCCC;
    height: 65px;
}
.woocommerce-active .site-header .main-navigation{
    width: 35%;
    height: 65px;
    margin-right: 0;
    clear: none;
}
.main-navigation ul > li{
    width: 25%;
    height: 65px;
    text-align: center;
}
.main-navigation ul.menu>li>a, .main-navigation ul.nav-menu>li>a{
    color: #000;
    padding: 0 0.5em;
    padding-top: 30px;
    /*border-right: 1px solid #000;*/
    height: 100%;
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    background: #fff;
    margin-right: 0;
    transition: .5s;
    text-transform: uppercase;
}
.main-navigation ul.menu>li:last-child>a, .main-navigation ul.nav-menu>li:last-child>a{
    border-right: 0;
}
 .site-header ul.menu li.current-menu-item > a{
     color: #fff;
 }
.main-navigation ul li a:hover, .main-navigation ul li:hover > a, .site-header ul.menu li.current-menu-item > a:not(.cart-contents){
    color: #000;
    background: #e4e5e6;
}
.main-navigation ul.menu>li:first-child, .main-navigation ul.nav-menu>li:first-child{
    margin-left: 0;
}
.main-navigation ul{
  display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;      /* TWEENER - IE 10 */
  display: -webkit-flex;     /* NEW - Chrome */
  display: flex;             /* NEW, Spec - Opera 12.1, Firefox 20+ */
}
.main-navigation ul li:before{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    color: #000;
    top: 8px;
}
.main-navigation li > ul.sub-menu li{
    height: auto;
}
.main-navigation li > ul.sub-menu li > a{
    padding: 1.375em 1.41575em;
    text-transform: uppercase;
    font-size: 13px;
    font-family: 'Roboto', sans-serif;
}
.main-navigation li > ul.sub-menu li:before{
    vertical-align: middle;
    color: #000;
    left: 75%;
    top: 18px;
}
.main-navigation ul.menu > li.menu-item-has-children > a:after, .main-navigation ul.menu > li.page_item_has_children > a:after, .main-navigation ul.nav-menu > li.menu-item-has-children > a:after, .main-navigation ul.nav-menu > li.page_item_has_children > a:after{
    content: '';
}

/*search*/
.site-search,
.woocommerce-active .site-header .site-search{
    width: 20%;
    height: 65px;
    float: left;
    padding: 10px 20px;
    background-color: #b92d2a;    
    margin: 0;
}
.site-search .widget_product_search input[type=search]{
    padding: 0.8em 1.41575em;
}
.site-search .widget_product_search form:before{
    top: 0.95em;
    left: 0.55em;
    z-index: 99;
}
.site-search input[type="search"]{
    background-color: #b92d2a;
    color: #fff;
    box-shadow: none;
    border-bottom: 2px solid #fff;
}
.widget_search form:before, .widget_product_search form:before{
    color: #fff;
}
.site-search ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #c8c0c0;
  box-shadow: none;
  font-size: 16px;
}
.site-search ::-moz-placeholder { /* Firefox 19+ */
  color: #c8c0c0;
}
.site-search :-ms-input-placeholder { /* IE 10+ */
  color: #c8c0c0;
}
.site-search :-moz-placeholder { /* Firefox 18- */
  color:#c8c0c0;
}

/*secondary navigation*/
.woocommerce-active .site-header .secondary-navigation{
    width: 15%;
    text-align: center;
    float: right;
    margin-bottom: 0;
    margin-right: 0;
}
.secondary-navigation .menu{
    float: none;
    height: 65px;
}
.woocommerce-active .site-header .secondary-navigation a{
    font-weight: 500;
    color: #fff !important;
    background: #df3633 !important;
    height: 50px;
    text-transform: uppercase;
    padding-top: 25px;
}

/*CART*/
.site-header-cart .cart-contents{
    padding: 1.018em 1em;   
}
.woocommerce-active .site-header .site-header-cart{
    width: 18%;
    float: left;
    height: 65px;
    background: #b92d2a;
}
.site-header-cart .widget_shopping_cart{
    background: #b92d2a;
    padding: 1em;
    color: #fff;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
.site-header-cart .widget_shopping_cart .woocommerce-mini-cart__empty-message{
    margin: 0;
}
.site-header-cart .cart-contents{
    color: #fff;
}
.woocommerce-active .site-header .site-header-cart:hover .cart-contents{
    color: #fff;
}
.widget_shopping_cart p.total{
    color: #333333;
    border-bottom: none;
}
.product_list_widget li{
    background: #fff;
    border-bottom: 1px solid rgba(0,0,0,0.1);
}
.product_list_widget li:last-child{
    border-bottom: none;
}
.site-header-cart .widget_shopping_cart .total{
    background: #e8e3e3;    
}
.product_list_widget li:hover{
    color: #079e8d;
}
.product_list_widget li > a:before{
    font-size: 1.3em;
}

/*Single Product Page*/
.single-book-left{
    float: left;
    width: 28.0588235294%;
    margin-right: 4%;
}
.single-book-right{
    width: 66.9411764706%;
    float: right;
}
.single-product div.product .summary{
    width: 100%;
}
.single-product div.product .woocommerce-product-gallery{
    width: 100%;
}
.single-product div.product .woocommerce-product-gallery, .single-product div.product .images{
    float: none;
}
/*Product tabs Panel*/
.woocommerce-tabs .panel {
    width: 63.7058823529%;
    margin-right: 1%;
}

/*Contact Us Page*/
.contact .contact-map{
    width: 47.8260869565%;
    float: left;
    padding: 1em;
    padding-top: 2em;
    margin-right: 4.347826087%;
}
.contact .contact-form{
    float: left;
    width: 47.8260869565%;
}
.contact .wpcf7-form{
    padding: 1em;
    padding-right: 2em;
}
/*My Account*/
.page-template-template-fullwidth-php .woocommerce-MyAccount-navigation{
    width: 100% ;
}
.woocommerce-MyAccount-navigation ul{
    clear: both;
}
.woocommerce-MyAccount-navigation ul li{
    border-bottom: none;
    float: left;
    width: 15.66666666666667%;
    margin-right: 1%;
}
.woocommerce-MyAccount-navigation ul li a{
    /*height: 80px;*/
}
.woocommerce-MyAccount-navigation ul li:last-child{
    margin-right: 0;
}
.woocommerce-MyAccount-navigation ul li.is-active a:after{
    content: '';
    position: absolute;
    bottom: -26px;
    left: 50%;
    transform: translateX(-50%);
    border-top: 26px solid #079e8d;
    border-left: 26px solid transparent;
    border-right: 26px solid transparent;
}
.page-template-template-fullwidth-php .woocommerce-MyAccount-content{
    margin-top: 30px;
    width: 100%;
}
/*Sell My Book Page*/
.sell_my_book_form{
    width: 55%;
    margin: auto;
    margin-top: 40px;
}
}